<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EvKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EvKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EvKit.Properties.Settings>
            <setting name="Socket_port" serializeAs="String">
                <value>8100</value>
            </setting>
            <setting name="COM_port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Auto_connect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log_quaternion_data" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_sensor_data" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultSensorFilePath" serializeAs="String">
                <value>SensorRegisters\kx132.xml</value>
            </setting>
            <setting name="SensorView" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultSetFileFolder" serializeAs="String">
                <value>SensorSet</value>
            </setting>
            <setting name="DefaultPollingInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Board_config" serializeAs="String">
                <value>rokix_board_iot_i2c_addon</value>
            </setting>
            <setting name="Auto_COM_port" serializeAs="String">
                <value>COM0</value>
            </setting>
            <setting name="FFT_refresh_interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Log_separator" serializeAs="String">
                <value>;\t
</value>
            </setting>
            <setting name="ADB_path" serializeAs="String">
                <value />
            </setting>
            <setting name="Configuration_address" serializeAs="String">
                <value>https://github.com/RohmSemiconductor/RoKiX-IoT-Platform/archive/configurations.zip</value>
            </setting>
            <setting name="Automatic_configuration_download" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Socket_ip_address" serializeAs="String">
                <value>1.2.3.4</value>
            </setting>
            <setting name="Automatic_streaming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sub_channel_view_visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Digital_output_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FFT_min_buffer_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FFT_max_buffer_length" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="User_defined_FFT_buffer_length" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stream_config" serializeAs="String">
                <value>KX132_ODR_800_FILTER1_LP_ODR_4_FILTER2_HP_ODR_16</value>
            </setting>
            <setting name="Automatic_FFT_x_axis_scaling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Selected_BLE_MAC" serializeAs="String">
                <value />
            </setting>
            <setting name="ADB_connection_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_file_extension" serializeAs="String">
                <value>.csv</value>
            </setting>
        </EvKit.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EvKit.Properties.Settings>
            <setting name="Log_errors" serializeAs="String">
                <value>True</value>
            </setting>
        </EvKit.Properties.Settings>
    </applicationSettings>
</configuration>