<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EvKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EvKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EvKit.Properties.Settings>
            <setting name="Socket_port" serializeAs="String">
                <value>8100</value>
            </setting>
            <setting name="COM_port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Auto_connect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log_quaternion_data" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_sensor_data" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SensorView" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultSetFileFolder" serializeAs="String">
                <value>SensorSet</value>
            </setting>
            <setting name="DefaultPollingInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Auto_COM_port" serializeAs="String">
                <value>COM0</value>
            </setting>
            <setting name="FFT_refresh_interval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Log_separator" serializeAs="String">
                <value>;\t
</value>
            </setting>
            <setting name="ADB_path" serializeAs="String">
                <value />
            </setting>
            <setting name="Socket_ip_address" serializeAs="String">
                <value>1.2.3.4</value>
            </setting>
            <setting name="Automatic_streaming" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sub_channel_view_visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Digital_output_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FFT_min_buffer_length" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FFT_max_buffer_length" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="User_defined_FFT_buffer_length" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Automatic_FFT_x_axis_scaling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Selected_BLE_MAC" serializeAs="String">
                <value />
            </setting>
            <setting name="ADB_connection_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_file_extension" serializeAs="String">
                <value>.csv</value>
            </setting>
            <setting name="DefaultSensorFilePath" serializeAs="String">
                <value>SensorRegisters\kx126.xml</value>
            </setting>
            <setting name="Board_config" serializeAs="String">
                <value>rokix_board_rokix_sensor_node_i2c</value>
            </setting>
            <setting name="Stream_config" serializeAs="String">
                <value />
            </setting>
            <setting name="Automatic_configuration_download" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Socket_output" serializeAs="String">
                <value>False</value>
            </setting>
        </EvKit.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EvKit.Properties.Settings>
            <setting name="Log_errors" serializeAs="String">
                <value>True</value>
            </setting>
        </EvKit.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.1" newVersion="4.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Storage.v1" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.35.1.1331" newVersion="1.35.1.1331" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
